 
 #container {
     width: 80%;
     margin: 0 auto ;
     background-color: rgba(130, 98, 98, 0.149);
 }
 header {
     width: 100%;
     height: 100px;
     outline: blue 1px solid;
 }

 .header {
     color: blue;
 }

 section {
    display: flex;
 }
 aside {
     min-height: 200px;
     outline: red 1px solid;
     flex: 1 5 50%;
 }

 main {
     flex: 4 1 50%;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url("woman.jpg");
     min-height: 500px;
     outline: black 1px solid;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    
    main p {
        
     font-size: 60px;
     color: #000000ae;

 }

 /* footer */
 footer {
     height: 100px;
     border: pink 1px solid;
     padding: 15px 33px;

 }

 p {
     color: red;
 }

 .quote {
     font-style: oblique;
     color: blue;
 }

 /* 600px and below */

