/*Everything in here applies globally throughout the page*/
body {
    font-family: "Open Sans";
    margin: 1%;
    background: #000000;
    word-wrap: break-word;
}

/*Applies to header only*/
.logo{
    float:left;
    padding: 1%;
}
img.logo {
    height: 128px;
    width: 128px;
}

.header_text{
    font-family: "Open Sans";
    font-size : 32px;
    color:white;
    height: 128px;
    
}

.header_text p{
    position: relative;
    top: 75%;
}

.header {
    border-bottom: 5px dashed rgb(163, 51, 39);
}

/*applied to all column content*/
.column {
float: left;
margin: 1%;
color: white;
}


.content_bg {
    background: rgb(163, 51, 39);   
}


a{
    color: rgb(255,255,255);
    font-size: 24px;
}

a:hover{
    color: rgb(0,255,255);
    font-size: 24px;
}

.menu_break {
    background : rgb(0,0,0);
    height: 10px;
}

/*These three apply column widths to each column*/
.menu{
    width: 14.1%;
    text-align: center;
    color: rgb(255,255,0);
}

.middle{
    width: 65.8%;
}

.right{
    width: 14.1%;
}


/*sets footer*/
.footer{
    color: white;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

